.tableList {
  margin: 10px 0 0 3px;
}

#menuIcon {
  margin: 7px 0 0 5px;
}

.stopwatch {
  position: relative;
  z-index: 10;
}

.selectBtn {
  position: absolute;
  left: 710px;
  top: 10px;
  z-index: 10;
  background-color: #FFF;
  padding: 5px 12px 5px 5px;
}

.title {
  position: absolute;
  left: 30px;
  top: 18px;
  z-index: 10;
  font-size: 26px;
  color: #FFF;
}

#confirm {
  position: absolute;
  left: 940px;
  top: 600px;
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(63, 81, 181);
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

#No1 {
  position: absolute;
  left: 530px;
  top: 176px;
  width: 54px;
  height: 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No2 {
  position: absolute;
  left: 469px;
  top: 176px;
  width: 54px;
  height: 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No3 {
  position: absolute;
  left: 364px;
  top: 176px;
  width: 54px;
  height: 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No4 {
  position: absolute;
  left: 302px;
  top: 176px;
  width: 54px;
  height: 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No5 {
  position: absolute;
  left: 189px;
  top: 340px;
  width: 55px;
  height: 9px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No6 {
  position: absolute;
  left: 128px;
  top: 340px;
  width: 55px;
  height: 9px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No7 {
  position: absolute;
  left: 65px;
  top: 340px;
  width: 55px;
  height: 9px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No8 {
  position: absolute;
  left: 3px;
  top: 340px;
  width: 55px;
  height: 9px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No10 {
  position: absolute;
  left: 502px;
  top: 250px;
  width: 45px;
  height: 8px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 7px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No11 {
  position: absolute;
  left: 448px;
  top: 250px;
  width: 45px;
  height: 8px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 7px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No12 {
  position: absolute;
  left: 388px;
  top: 250px;
  width: 45px;
  height: 8px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 7px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No13 {
  position: absolute;
  left: 333px;
  top: 250px;
  width: 45px;
  height: 8px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 7px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No14 {
  position: absolute;
  left: 518px;
  top: 314px;
  width: 46px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No15 {
  position: absolute;
  left: 470px;
  top: 314px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No16 {
  position: absolute;
  left: 423px;
  top: 314px;
  width: 44px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No17 {
  position: absolute;
  left: 375px;
  top: 314px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No18 {
  position: absolute;
  left: 327px;
  top: 314px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No19 {
  position: absolute;
  left: 280px;
  top: 314px;
  width: 44px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No20 {
  position: absolute;
  left: 518px;
  top: 366px;
  width: 46px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No21 {
  position: absolute;
  left: 470px;
  top: 366px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No22 {
  position: absolute;
  left: 423px;
  top: 366px;
  width: 44px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No23 {
  position: absolute;
  left: 375px;
  top: 366px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No24 {
  position: absolute;
  left: 327px;
  top: 366px;
  width: 45px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No25 {
  position: absolute;
  left: 280px;
  top: 366px;
  width: 44px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No26 {
  position: absolute;
  left: 497px;
  top: 461px;
  width: 34px;
  height: 11px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No27 {
  position: absolute;
  left: 462px;
  top: 461px;
  width: 32px;
  height: 11px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No28 {
  position: absolute;
  left: 427px;
  top: 461px;
  width: 32px;
  height: 11px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No29 {
  position: absolute;
  left: 391px;
  top: 461px;
  width: 33px;
  height: 11px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No30 {
  position: absolute;
  left: 322px;
  top: 461px;
  width: 32px;
  height: 11px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No31 {
  position: absolute;
  left: 527px;
  top: 514px;
  width: 33px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No32 {
  position: absolute;
  left: 492px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No33 {
  position: absolute;
  left: 457px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No34 {
  position: absolute;
  left: 422px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No35 {
  position: absolute;
  left: 387px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No36 {
  position: absolute;
  left: 352px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No37 {
  position: absolute;
  left: 317px;
  top: 514px;
  width: 32px;
  height: 9px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No38 {
  position: absolute;
  left: 485px;
  top: 598px;
  width: 55px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No39 {
  position: absolute;
  left: 423px;
  top: 598px;
  width: 55px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No40 {
  position: absolute;
  left: 330px;
  top: 598px;
  width: 55px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No41 {
  position: absolute;
  left: 268px;
  top: 598px;
  width: 55px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #c7ffc9;
}

#No42 {
  position: absolute;
  left: 257px;
  top: 420px;
  width: 43px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No43 {
  position: absolute;
  left: 213px;
  top: 420px;
  width: 41px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No44 {
  position: absolute;
  left: 257px;
  top: 476px;
  width: 43px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No45 {
  position: absolute;
  left: 213px;
  top: 476px;
  width: 41px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No46 {
  position: absolute;
  left: 257px;
  top: 533px;
  width: 43px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No47 {
  position: absolute;
  left: 213px;
  top: 533px;
  width: 41px;
  height: 11px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No48 {
  position: absolute;
  left: 155px;
  top: 513px;
  width: 33px;
  height: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No49 {
  position: absolute;
  left: 155px;
  top: 559px;
  width: 33px;
  height: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No50 {
  position: absolute;
  left: 94px;
  top: 513px;
  width: 33px;
  height: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No51 {
  position: absolute;
  left: 94px;
  top: 559px;
  width: 33px;
  height: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #d4e6ff;
}

#No52 {
  position: absolute;
  left: 156px;
  top: 400px;
  width: 36px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No53 {
  position: absolute;
  left: 118px;
  top: 400px;
  width: 35px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No54 {
  position: absolute;
  left: 81px;
  top: 400px;
  width: 34px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No55 {
  position: absolute;
  left: 43px;
  top: 400px;
  width: 35px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No56 {
  position: absolute;
  left: 7px;
  top: 400px;
  width: 33px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No57 {
  position: absolute;
  left: 156px;
  top: 440px;
  width: 36px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No58 {
  position: absolute;
  left: 118px;
  top: 440px;
  width: 35px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No59 {
  position: absolute;
  left: 81px;
  top: 440px;
  width: 34px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No60 {
  position: absolute;
  left: 43px;
  top: 440px;
  width: 35px;
  height: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 8px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No61 {
  position: absolute;
  left: 21px;
  top: 489px;
  width: 29px;
  height: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No62 {
  position: absolute;
  left: 21px;
  top: 526px;
  width: 29px;
  height: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No63 {
  position: absolute;
  left: 21px;
  top: 563px;
  width: 29px;
  height: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No64 {
  position: absolute;
  left: 21px;
  top: 600px;
  width: 29px;
  height: 7px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No65 {
  position: absolute;
  left: 21px;
  top: 634px;
  width: 29px;
  height: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f7c7ff;
}

#No66 {
  position: absolute;
  left: 545px;
  top: 51px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No67 {
  position: absolute;
  left: 545px;
  top: 103px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No68 {
  position: absolute;
  left: 475px;
  top: 51px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No69 {
  position: absolute;
  left: 475px;
  top: 103px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No70 {
  position: absolute;
  left: 380px;
  top: 51px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No71 {
  position: absolute;
  left: 380px;
  top: 103px;
  width: 35px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No72 {
  position: absolute;
  left: 309px;
  top: 51px;
  width: 36px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No73 {
  position: absolute;
  left: 309px;
  top: 103px;
  width: 36px;
  height: 21px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No76 {
  position: absolute;
  left: 691px;
  top: 448px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No77 {
  position: absolute;
  left: 691px;
  top: 535px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No78 {
  position: absolute;
  left: 606px;
  top: 448px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No79 {
  position: absolute;
  left: 606px;
  top: 535px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No80 {
  position: absolute;
  left: 691px;
  top: 650px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No81 {
  position: absolute;
  left: 691px;
  top: 816px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No82 {
  position: absolute;
  left: 606px;
  top: 650px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No83 {
  position: absolute;
  left: 606px;
  top: 816px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#No86 {
  position: absolute;
  left: 606px;
  top: 733px;
  width: 44px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 38px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#Nectar {
  position: absolute;
  left: 665px;
  top: 245px;
  width: 44px;
  height: 37px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 100px 0 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}

#Prometheus {
  position: absolute;
  left: 347px;
  top: 727px;
  width: 61px;
  height: 13px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 40px 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #fff9af;
}
